  <h1>Product Reviews</h1>

  <% @products.each do |product| %>

  <div class="row products">
    <%= image_tag product.image %>
  </div>

  <div class="row products">
    <%= product.title %> -
    <%= product.description %>
  </div>

  <div class='button radius button-text-color tiny'>
    <%= link_to 'Review this Product', new_product_review_path(product.id) %>
  </div>

  <div class='button radius button-text-color tiny'>
    <%= link_to 'View Product Reviews', product_path(product.id) %>
  </div>

<% end %> <br>





