<h3> <%= @product.title %> -  <%= @product.description %><h3><br>
<div><%= image_tag @product.image %></div><br>
<p><% @reviews.each do |review| %>
      <strong><%= review.user.username %> | <%= review.title %></strong><br>
      <%= review.description %><br><br>
     <% end %>
</p>


