<h3> <%= @product.title %> - <%= @product.description %><h3>
<div><%= image_tag @product.image %></div>
<div><% @reviews.each do |review| %>
      <h4><%= review.user.username %> | <%= review.title %></h4>
      <p><%= review.description %></p>
     <% end %>
</div>


