<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Green Reviews</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render '/shared/header' %>
    <div class="small-6 large-centered columns text-center">
     <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
